In [308]:
import pybaseball_edited as pyb
import pybaseball_edited.team_game_logs as pyb_tgl
import pandas as pd
import numpy as np
from dateutil import parser
import re

In [309]:
team_data = pyb.teamid_lookup.team_ids(season=2020)
team_data

      yearID lgID teamID franchID  teamIDfg teamIDBR teamIDretro
2925    2020   AL    BAL      BAL         2      BAL         BAL
2926    2020   AL    BOS      BOS         3      BOS         BOS
2927    2020   AL    CHA      CHW         4      CHW         CHA
2928    2020   AL    CLE      CLE         5      CLE         CLE
2929    2020   AL    DET      DET         6      DET         DET
2930    2020   AL    HOU      HOU        21      HOU         HOU
2931    2020   AL    KCA      KCR         7      KCR         KCA
2932    2020   AL    LAA      ANA         1      LAA         ANA
2933    2020   AL    MIN      MIN         8      MIN         MIN
2934    2020   AL    NYA      NYY         9      NYY         NYA
2935    2020   AL    OAK      OAK        10      OAK         OAK
2936    2020   AL    SEA      SEA        11      SEA         SEA
2937    2020   AL    TBA      TBD        12      TBR         TBA
2938    2020   AL    TEX      TEX        13      TEX         TEX
2939    2020   AL    TOR      TOR        14      TOR         TOR
2940    2020   NL    ARI      ARI        15      ARI         ARI
2941    2020   NL    ATL      ATL        16      ATL         ATL
2942    2020   NL    CHN      CHC        17      CHC         CHN
2943    2020   NL    CIN      CIN        18      CIN         CIN
2944    2020   NL    COL      COL        19      COL         COL
2945    2020   NL    LAN      LAD        22      LAD         LAN
2946    2020   NL    MIA      FLA        20      MIA         MIA
2947    2020   NL    MIL      MIL        23      MIL         MIL
2948    2020   NL    NYN      NYM        25      NYM         NYN
2949    2020   NL    PHI      PHI        26      PHI         PHI
2950    2020   NL    PIT      PIT        27      PIT         PIT
2951    2020   NL    SDN      SDP        29      SDP         SDN
2952    2020   NL    SFN      SFG        30      SFG         SFN
2953    2020   NL    SLN      STL        28      STL         SLN
2954    2020   NL    WAS      WSN        24      WSN         WAS

In [310]:
all_teams_list = list(team_data['teamIDBR'])
all_teams_list.sort()
all_teams_list

['ARI',
 'ATL',
 'BAL',
 'BOS',
 'CHC',
 'CHW',
 'CIN',
 'CLE',
 'COL',
 'DET',
 'HOU',
 'KCR',
 'LAA',
 'LAD',
 'MIA',
 'MIL',
 'MIN',
 'NYM',
 'NYY',
 'OAK',
 'PHI',
 'PIT',
 'SDP',
 'SEA',
 'SFG',
 'STL',
 'TBR',
 'TEX',
 'TOR',
 'WSN']

In [311]:
with open('data/2021_game_logs_team_list.csv', 'w') as f:
    for team in all_teams_list:
        f.write(team + '\n')

In [312]:
gl_df_list = []
num_games_total = 0
reprocess_games = False

if reprocess_games:
    for i, team in enumerate(all_teams_list):
        print(f"Getting game logs for {team}... ", end="")
        gl_i = pd.DataFrame(pyb_tgl(season=2021,team=team))
        gl_i['team'] = team
        gl_df_list.append(gl_i)
        print("Done!")
        num_games_i = len(gl_i)
        num_games_total += num_games_i
        print(f"Team # games = {num_games_i}, Total games read = {num_games_total}")

    raw_br_game_logs_df = pd.concat(gl_df_list, ignore_index=True)

raw_br_game_logs_df

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,CS,BA,OBP,SLG,OPS,LOB,NumPlayers,Thr,OppStart,team
0,1,Apr 1,True,SDP,"L,7-8",41,40,7,12,3,...,0,0.300,0.317,0.675,0.992,7,16,R,Y.Darvish(37),ARI
1,2,Apr 2,True,SDP,"L,2-4",38,36,2,8,1,...,0,0.263,0.291,0.513,0.804,9,17,L,B.Snell(62),ARI
2,3,Apr 3,True,SDP,"L,0-7",30,30,0,4,0,...,0,0.226,0.248,0.406,0.653,3,13,R,J.Musgrove(74),ARI
3,4,Apr 4,True,SDP,"W,3-1",38,32,3,6,1,...,0,0.217,0.265,0.377,0.642,8,16,R,C.Paddack(44),ARI
4,5,Apr 6,True,COL,"W,10-8",57,53,10,13,3,...,0,0.225,0.275,0.387,0.662,8,19,R,G.Marquez(53),ARI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4853,158,Sep 28,True,COL,"L,1-3",35,30,1,7,2,...,0,0.259,0.337,0.418,0.755,7,12,L,K.Freeland(57),WSN
4854,159,Sep 29,True,COL,"L,5-10",41,34,5,9,2,...,0,0.259,0.337,0.418,0.755,9,19,R,P.Lambert(20),WSN
4855,160,Oct 1,False,BOS,"L,2-4",41,35,2,9,2,...,0,0.259,0.337,0.418,0.755,12,15,L,E.Rodriguez(60),WSN
4856,161,Oct 2,False,BOS,"L,3-5",37,31,3,5,1,...,0,0.258,0.337,0.417,0.754,7,18,R,T.Houck(75),WSN
4857,162,Oct 3,False,BOS,"L,5-7",39,33,5,7,5,...,0,0.258,0.337,0.417,0.754,7,18,L,C.Sale(45),WSN

In [313]:
raw_br_game_logs_df.to_csv('data/2021_game_logs_raw.csv')

In [314]:
game_logs_df = raw_br_game_logs_df.copy()

In [315]:
game_logs_df.rename(columns={
    'Home': 'played_at_opp',
    'Opp': 'opp_team',
    'Rslt': 'team_game_result',
    'Game': 'team_game_order',
    'Date': 'orig_game_date'
}, inplace=True)

In [316]:
def get_wl_and_scores(result_str:str):
    w_or_l, score_str = result_str.split(",")
    team_runs, opp_runs = score_str.split("-")
    out_values = pd.Series([w_or_l, team_runs, opp_runs])
    return out_values

In [317]:
test_str = game_logs_df['team_game_result'][0]
print(test_str+'\n')
print(get_wl_and_scores(test_str))

L,7-8

0    L
1    7
2    8
dtype: object

In [318]:
new_score_cols = ['team_w_or_l', 'team_runs', 'opp_runs']
game_logs_df[new_score_cols] = game_logs_df['team_game_result'].apply(get_wl_and_scores)
game_logs_df

,team_game_order,orig_game_date,played_at_opp,opp_team,team_game_result,PA,AB,R,H,2B,...,SLG,OPS,LOB,NumPlayers,Thr,OppStart,team,team_w_or_l,team_runs,opp_runs
0,1,Apr 1,True,SDP,"L,7-8",41,40,7,12,3,...,0.675,0.992,7,16,R,Y.Darvish(37),ARI,L,7,8
1,2,Apr 2,True,SDP,"L,2-4",38,36,2,8,1,...,0.513,0.804,9,17,L,B.Snell(62),ARI,L,2,4
2,3,Apr 3,True,SDP,"L,0-7",30,30,0,4,0,...,0.406,0.653,3,13,R,J.Musgrove(74),ARI,L,0,7
3,4,Apr 4,True,SDP,"W,3-1",38,32,3,6,1,...,0.377,0.642,8,16,R,C.Paddack(44),ARI,W,3,1
4,5,Apr 6,True,COL,"W,10-8",57,53,10,13,3,...,0.387,0.662,8,19,R,G.Marquez(53),ARI,W,10,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4853,158,Sep 28,True,COL,"L,1-3",35,30,1,7,2,...,0.418,0.755,7,12,L,K.Freeland(57),WSN,L,1,3
4854,159,Sep 29,True,COL,"L,5-10",41,34,5,9,2,...,0.418,0.755,9,19,R,P.Lambert(20),WSN,L,5,10
4855,160,Oct 1,False,BOS,"L,2-4",41,35,2,9,2,...,0.418,0.755,12,15,L,E.Rodriguez(60),WSN,L,2,4
4856,161,Oct 2,False,BOS,"L,3-5",37,31,3,5,1,...,0.417,0.754,7,18,R,T.Houck(75),WSN,L,3,5
4857,162,Oct 3,False,BOS,"L,5-7",39,33,5,7,5,...,0.417,0.754,7,18,L,C.Sale(45),WSN,L,5,7

In [319]:
game_logs_df['team_won'] = np.where(game_logs_df['team_w_or_l'] == 'W', 1.0, 0.0)
game_logs_df['team_at_home'] = np.where(game_logs_df['played_at_opp'], 0.0, 1.0)
game_logs_df['opp_at_home'] = np.where(game_logs_df['played_at_opp'], 1.0, 0.0)
game_logs_df['home_team'] = np.where(game_logs_df['played_at_opp'], game_logs_df['opp_team'], game_logs_df['team'])
game_logs_df['away_team'] = np.where(game_logs_df['played_at_opp'], game_logs_df['team'], game_logs_df['opp_team'])
game_logs_df

,team_game_order,orig_game_date,played_at_opp,opp_team,team_game_result,PA,AB,R,H,2B,...,OppStart,team,team_w_or_l,team_runs,opp_runs,team_won,team_at_home,opp_at_home,home_team,away_team
0,1,Apr 1,True,SDP,"L,7-8",41,40,7,12,3,...,Y.Darvish(37),ARI,L,7,8,0.0,0.0,1.0,SDP,ARI
1,2,Apr 2,True,SDP,"L,2-4",38,36,2,8,1,...,B.Snell(62),ARI,L,2,4,0.0,0.0,1.0,SDP,ARI
2,3,Apr 3,True,SDP,"L,0-7",30,30,0,4,0,...,J.Musgrove(74),ARI,L,0,7,0.0,0.0,1.0,SDP,ARI
3,4,Apr 4,True,SDP,"W,3-1",38,32,3,6,1,...,C.Paddack(44),ARI,W,3,1,1.0,0.0,1.0,SDP,ARI
4,5,Apr 6,True,COL,"W,10-8",57,53,10,13,3,...,G.Marquez(53),ARI,W,10,8,1.0,0.0,1.0,COL,ARI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4853,158,Sep 28,True,COL,"L,1-3",35,30,1,7,2,...,K.Freeland(57),WSN,L,1,3,0.0,0.0,1.0,COL,WSN
4854,159,Sep 29,True,COL,"L,5-10",41,34,5,9,2,...,P.Lambert(20),WSN,L,5,10,0.0,0.0,1.0,COL,WSN
4855,160,Oct 1,False,BOS,"L,2-4",41,35,2,9,2,...,E.Rodriguez(60),WSN,L,2,4,0.0,1.0,0.0,WSN,BOS
4856,161,Oct 2,False,BOS,"L,3-5",37,31,3,5,1,...,T.Houck(75),WSN,L,3,5,0.0,1.0,0.0,WSN,BOS
4857,162,Oct 3,False,BOS,"L,5-7",39,33,5,7,5,...,C.Sale(45),WSN,L,5,7,0.0,1.0,0.0,WSN,BOS

In [320]:
game_logs_df[['team', 'team_at_home', 'team_won']].value_counts()

team  team_at_home  team_won
ARI   0.0           0.0         61
LAD   1.0           1.0         58
PIT   0.0           0.0         57
TEX   0.0           0.0         57
MIA   0.0           0.0         56
                                ..
BAL   0.0           1.0         25
TEX   0.0           1.0         24
PIT   0.0           1.0         24
LAD   1.0           0.0         23
ARI   0.0           1.0         20
Length: 120, dtype: int64

In [321]:
def game_date_parse(game_date:str):

    gd_split_dict = dict(enumerate(game_date.split(' ')))

    gd_yr = 2021
    gd_mo = gd_split_dict.get(0)
    gd_day = gd_split_dict.get(1)
    gd_game = gd_split_dict.get(2)

    gd_date_str_in = f'{gd_mo} {gd_day}, {gd_yr}'
    gd_as_datetime = parser.parse(gd_date_str_in)
    game_date_formatted = gd_as_datetime.strftime('%Y-%m-%d')
    game_date_compact = gd_as_datetime.strftime('%Y%m%d')

    if gd_game is not None:
        m = re.search('(\d)+', gd_game)
        dh_game_num = m.group(1)
        #game_date_id = f'{game_date_compact}|{dh_game_num}'
        #game_date_id_verbose = f'{game_date_formatted}, Game {dh_game_num}'
    else:
        dh_game_num = None
        #game_date_id = f'{game_date_compact}|1'
        #game_date_id_verbose = game_date_formatted

    out_values = pd.Series([game_date_formatted, game_date_compact, dh_game_num])
    return out_values

print(game_date_parse(game_logs_df['orig_game_date'][0]))

0    2021-04-01
1      20210401
2          None
dtype: object

In [322]:
new_game_date_cols = ['game_date', 'game_date_compact', 'dh_game_num']
game_logs_df[new_game_date_cols] = game_logs_df['orig_game_date'].apply(game_date_parse)
game_logs_df

,team_game_order,orig_game_date,played_at_opp,opp_team,team_game_result,PA,AB,R,H,2B,...,team_runs,opp_runs,team_won,team_at_home,opp_at_home,home_team,away_team,game_date,game_date_compact,dh_game_num
0,1,Apr 1,True,SDP,"L,7-8",41,40,7,12,3,...,7,8,0.0,0.0,1.0,SDP,ARI,2021-04-01,20210401,None
1,2,Apr 2,True,SDP,"L,2-4",38,36,2,8,1,...,2,4,0.0,0.0,1.0,SDP,ARI,2021-04-02,20210402,None
2,3,Apr 3,True,SDP,"L,0-7",30,30,0,4,0,...,0,7,0.0,0.0,1.0,SDP,ARI,2021-04-03,20210403,None
3,4,Apr 4,True,SDP,"W,3-1",38,32,3,6,1,...,3,1,1.0,0.0,1.0,SDP,ARI,2021-04-04,20210404,None
4,5,Apr 6,True,COL,"W,10-8",57,53,10,13,3,...,10,8,1.0,0.0,1.0,COL,ARI,2021-04-06,20210406,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4853,158,Sep 28,True,COL,"L,1-3",35,30,1,7,2,...,1,3,0.0,0.0,1.0,COL,WSN,2021-09-28,20210928,None
4854,159,Sep 29,True,COL,"L,5-10",41,34,5,9,2,...,5,10,0.0,0.0,1.0,COL,WSN,2021-09-29,20210929,None
4855,160,Oct 1,False,BOS,"L,2-4",41,35,2,9,2,...,2,4,0.0,1.0,0.0,WSN,BOS,2021-10-01,20211001,None
4856,161,Oct 2,False,BOS,"L,3-5",37,31,3,5,1,...,3,5,0.0,1.0,0.0,WSN,BOS,2021-10-02,20211002,None
4857,162,Oct 3,False,BOS,"L,5-7",39,33,5,7,5,...,5,7,0.0,1.0,0.0,WSN,BOS,2021-10-03,20211003,None

In [323]:
def get_game_strs(game:pd.Series):
    away_team = game['away_team']
    home_team = game['home_team']
    game_date = game['game_date']
    game_date_compact = game['game_date_compact']
    dh_game_num = game['dh_game_num']

    teams_in_game_list = [away_team, home_team]
    teams_in_game_list.sort()
    teams_in_game_str = ', '.join(teams_in_game_list)
    #print(teams_in_game_str)

    game_teams_str_compact = f'{away_team}@{home_team}'
    game_teams_str_verbose = f'{away_team} at {home_team}'
    #print(game_teams_str)

    if dh_game_num is not None:
        game_uid_str = f'{game_date_compact}|{game_teams_str_compact}|{dh_game_num}'
        game_desc_str = f'{game_teams_str_verbose} on {game_date}, Game {dh_game_num}'
    else:
        game_uid_str = f'{game_date_compact}|{game_teams_str_compact}|1'
        game_desc_str = f'{game_teams_str_verbose} on {game_date}'
    #print(game_teams_date_str)

    out_values = pd.Series([teams_in_game_str, game_teams_str_compact, game_uid_str, game_desc_str])
    return out_values


get_game_strs(game_logs_df.loc[229,:])

0                            ATL, STL
1                             STL@ATL
2                  20210620|STL@ATL|1
3    STL at ATL on 2021-06-20, Game 1
dtype: object

In [324]:
new_game_spec_cols = ['teams_in_game', 'teams_and_game_loc', 'game_uid', 'game_desc']
game_logs_df[new_game_spec_cols] = game_logs_df.apply(get_game_strs, axis = 1)
game_logs_df

,team_game_order,orig_game_date,played_at_opp,opp_team,team_game_result,PA,AB,R,H,2B,...,opp_at_home,home_team,away_team,game_date,game_date_compact,dh_game_num,teams_in_game,teams_and_game_loc,game_uid,game_desc
0,1,Apr 1,True,SDP,"L,7-8",41,40,7,12,3,...,1.0,SDP,ARI,2021-04-01,20210401,None,"ARI, SDP",ARI@SDP,20210401|ARI@SDP|1,ARI at SDP on 2021-04-01
1,2,Apr 2,True,SDP,"L,2-4",38,36,2,8,1,...,1.0,SDP,ARI,2021-04-02,20210402,None,"ARI, SDP",ARI@SDP,20210402|ARI@SDP|1,ARI at SDP on 2021-04-02
2,3,Apr 3,True,SDP,"L,0-7",30,30,0,4,0,...,1.0,SDP,ARI,2021-04-03,20210403,None,"ARI, SDP",ARI@SDP,20210403|ARI@SDP|1,ARI at SDP on 2021-04-03
3,4,Apr 4,True,SDP,"W,3-1",38,32,3,6,1,...,1.0,SDP,ARI,2021-04-04,20210404,None,"ARI, SDP",ARI@SDP,20210404|ARI@SDP|1,ARI at SDP on 2021-04-04
4,5,Apr 6,True,COL,"W,10-8",57,53,10,13,3,...,1.0,COL,ARI,2021-04-06,20210406,None,"ARI, COL",ARI@COL,20210406|ARI@COL|1,ARI at COL on 2021-04-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4853,158,Sep 28,True,COL,"L,1-3",35,30,1,7,2,...,1.0,COL,WSN,2021-09-28,20210928,None,"COL, WSN",WSN@COL,20210928|WSN@COL|1,WSN at COL on 2021-09-28
4854,159,Sep 29,True,COL,"L,5-10",41,34,5,9,2,...,1.0,COL,WSN,2021-09-29,20210929,None,"COL, WSN",WSN@COL,20210929|WSN@COL|1,WSN at COL on 2021-09-29
4855,160,Oct 1,False,BOS,"L,2-4",41,35,2,9,2,...,0.0,WSN,BOS,2021-10-01,20211001,None,"BOS, WSN",BOS@WSN,20211001|BOS@WSN|1,BOS at WSN on 2021-10-01
4856,161,Oct 2,False,BOS,"L,3-5",37,31,3,5,1,...,0.0,WSN,BOS,2021-10-02,20211002,None,"BOS, WSN",BOS@WSN,20211002|BOS@WSN|1,BOS at WSN on 2021-10-02
4857,162,Oct 3,False,BOS,"L,5-7",39,33,5,7,5,...,0.0,WSN,BOS,2021-10-03,20211003,None,"BOS, WSN",BOS@WSN,20211003|BOS@WSN|1,BOS at WSN on 2021-10-03

In [325]:
game_logs_df.to_csv('data/2021_game_logs_preproc.csv')